<div class="container col-3">
  <form action="/expenses/{{ expense._id }}?_method=PUT" method="POST">

    <div class="mb-5  row">
      <span class="col-4">*必填欄位</span>
      <h4 class="col-8" style="text-align:center">請輸入你的支出</h4>
    </div>


    <div class="mb-3 row">
      <label for="name" class="form-label col-4">
        <h4>名稱*：</h4>
      </label>
      <div class="col-8">
        <input type="text" class="form-control" id="name" maxlength="20" name="name" value="{{ expense.name }}"
          placeholder="ex：房租" required>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="date" class="form-label col-4">
        <h4>日期*：</h4>
      </label>
      <div class="col-8">
        <input type="date" class="form-control" id="date" max="2099-12-31" min="2022-11-13" name="date"
          value="{{ expense.data }}" required>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="category" class="form-label col-4">
        <h4>類別*：</h4>
      </label>
      <div class="col-8">
        <select class="form-control" id="category" name="categoryId" value="{{ expense.categoryId }}" required>
          <option value="">類別</option>
          <option value="1">家居</option>
          <option value="2">交通</option>
          <option value="3">娛樂</option>
          <option value="4">餐飲</option>
          <option value="5">其他</option>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="amount" class="form-label col-4">
        <h4>金額*：</h4>
      </label>
      <div class="col-8">
        <input type="number" class="form-control" max="999999999" data-bs-toggle="collapse" id="amount" name="amount"
          value="{{ expense.amount }}" placeholder="如：999999" required>
      </div>
    </div>

    <div class="row mt*3">
      <button class="btn btn-primary " type="submit">Save</button>
    </div>
    <div class="row mt-3">
      <a class="btn btn-secondary" href="/">back</a>
    </div>
  </form>
</div>